$cWhite: white;
$cBlack: black;
$cSubTitle: #d8d8d8;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cbtnBlue: #b3f0fa;
$cbtnBlueSh: #92aeb3;
$cbtnBlueSh2: #121617;
$opBlue: #00004d;
$cblue: #f8f8ff;
$cgray: #9b9b9b;
$opliteBlue:rgba(59,130,246,0.5);