$cWhite: white;
$cBlack: black;
$cSubTitle: #d8d8d8;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cbtnBlue: #b3f0fa;
$cbtnBlueSh: #92aeb3;
$cbtnBlueSh2: #121617;
$opBlue: #00004d;
$cblue: #f8f8ff;
$cgray2: #c7c7e2;
$c365arrow: #a6c6ff;
$cArrow1:rgb(255, 144, 144);
$cArrow2:rgb(166, 198, 255);
$cArrow3:rgb(242, 255, 144);
$cGray:rgb(241, 241, 241);
$ArrowSize:15px;
$ArrowposX:25px;
$ArrowposY:282px;   //数値が小さいほど上に行く
$ArrowposYpad:38px;